.icons{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
}
/* icons */
.icon-search{
    background-image: url('../images/icons/search.svg');
}
.icon-search-white{
    background-image: url('../images/icons/search-white.svg');
}
.icon-headphone{
    background-image: url('../images/icons/headphone.svg');
}
.icon-chevron-right{
    background-image: url('../images/icons/chevron-right.svg');
}
.icon-chevron-left{
    background-image: url('../images/icons/chevron-left.svg');
}
.icon-arrow-right{
    background-image: url('../images/icons/arrow-right.svg');
}
.icon-arrow-right-black{
    background-image: url('../images/icons/arrow-right-black.svg');
}
.icon-chevron-left-gray{
    background-image: url('../images/icons/chevron-left-gray.svg');
}
.icon-chevron-right-gray{
    background-image: url('../images/icons/chevron-right-gray.svg');
}
.icon-arrow-triagle-right{
    background-image: url('../images/icons/arrow-triagle-right.svg');
}
.icon-menu{
    background-image: url('../images/icons/menu.svg');
}
.icon-x{
    background-image: url('../images/icons/x.svg');
}
.icon-paperclip{
    background-image: url('../images/icons/paperclip.svg');
}
.icon-pdf{
    background-image: url('../images/icons/pdf.svg');
}
/* size */
.icons-35{
    width: 35px;
    height: 35px;
}
.icons-34{
    width: 35px;
    height: 35px;
}
.icons-33{
    width: 35px;
    height: 35px;
}
.icons-32{
    width: 32px;
    height: 32px;
}
.icons-30{
    width: 30px;
    height: 30px;
}
.icons-29{
    width: 29px;
    height: 29px;
}
.icons-28{
    width: 28px;
    height: 28px;
}
.icons-26{
    width: 26px;
    height: 26px;
}
.icons-25{
    width: 25px;
    height: 25px;
}
.icons-24{
    width: 24px;
    height: 24px;
}
.icons-23{
    width: 23px;
    height: 23px;
}
.icons-22{
    width: 22px;
    height: 22px;
}
.icons-21{
    width: 20px;
    height: 20px;
}
.icons-20{
    width: 20px;
    height: 20px;
}
.icons-19{
    width: 19px;
    height: 19px;
}
.icons-18{
    width: 18px;
    height: 18px;
}
.icons-17{
    width: 17px;
    height: 17px;
}
.icons-16{
    width: 16px;
    height: 16px;
}
.icons-15{
    width: 15px;
    height: 15px;
}
.icons-14{
    width: 14px;
    height: 14px;
}
.icons-13{
    width: 13px;
    height: 13px;
}
.icons-12{
    width: 12px;
    height: 12px;
}
.icons-8{
    width: 8px;
    height: 8px;
}
.icons-6{
    width: 6px;
    height: 6px;
}