
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: var(--white);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #1d68a7;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
} */

pre,
code,
kbd,
samp {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
  /* outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; */
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

button,
input {
  overflow: visible;
  outline: none;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.25rem;
}

h2,
.h2 {
  font-size: 1.8rem;
}

h3,
.h3 {
  font-size: 1.575rem;
}

h4,
.h4 {
  font-size: 1.35rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 0.9rem;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

code {
  font-size: 87.5%;
  color: #f66D9b;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

/* custom */
.components-slider-products{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 198px;
  height: 200px;
  background-image: url('../images/components/slider-product-left.png');
}
.box-slider-products{
  width: calc(100% - 400px);
  height: 100%;
  position: relative;
}
.box-slider-products-backcover{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 498px;
  height: 515px;
  background-image: url('../images/components/slider-product-box.png');
}
.cover-slider-detail-product{
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  background-image: url('../images/components/cover-slider-detail-product.png');
}
.text-mix{
  background: linear-gradient(95deg, #01528D 0.75%, #9747FF 90.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-mix-2{
  background: linear-gradient(180deg, #E246F0 0%, #8C46F0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-mix-3{
  background: linear-gradient(180deg, #0038FF 0%, #76ADFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-mix-4{
  background: linear-gradient(180deg, #F0AC46 0%, #7F660A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-mix-5{
  background: linear-gradient(180deg, #46F0F0 0%, #067E7E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* class side menu mobile */
.show-sidemenu {
  transform: translateX(0) !important;
}
/* end class side menu mobile */
@media (max-width: 1440px) {
  .box-slider-products-backcover {
    height: 459px;
    width: 475px;
  }
}

@media (max-width: 1280px) {
  /* product */
  .components-slider-products{
    width: 150px;
    height: 152px;
  }
  .box-slider-products{
    width: calc(100% - 300px);
  }
  .box-slider-products-backcover {
    width: 450px;
    height: 465px;
  }
}

@media (max-width: 1024px) {
  /* product */
  .components-slider-products{
    width: 100px;
    height: 101px;
  }
  .box-slider-products{
    width: calc(100% - 200px);
  }
  .box-slider-products-backcover {
    width: 400px;
    height: 414px;
  }
}

@media (max-width: 768px) {
  /* product */
  .box-slider-products{
    width: calc(100% - 60px);
  }
  .box-slider-products-backcover {
    top: 18%;
    transform: translateX(-50%);
    width: 250px;
    height: 259px;
  }
  .components-slider-products {
    width: 30px;
    height: 31px;
    position: relative;
    top: calc(-18% - -25px);
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* menu mobile is active */
.mobile-menu-active {
  font-size: 700;
  color: #01528D;
}

/* menu */

.products-menu {
  transition: all ease-in-out 300ms;
  width: 100%;
  height: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: start;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  animation: menuAnimate 1s;
}

.products-show{
  height: calc(100vh - 75px) !important;
  transition: all ease-in-out 500ms;
}

@keyframes menuAnimate {
  from {
    height: 0px;
  }
  to {
    height: calc(100vh - 75px) !important;
  }
}

.rotate90{
  transform: rotate(90deg);
}